.cover__link {
    position: relative;
    display: block;
    max-width: 1184px;
    background-image: url(../../../images/cover__background.png);
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    min-height: 645px;
    z-index: 1;
    margin: 0 auto;
    color: #FFFFFF;
}

.cover__link:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__link:hover.cover__link:before {
    opacity: 0.8;
}