@import url(./__subtitle/flex-rows__subtitle.css);
@import url(./__title/flex-rows__title.css);

.flex-rows {
    width: 560px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    align-items: center;
}