@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    height: 52px;
    width: calc(100% - 96px);
    padding: 28px 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width:768px) {
    .header {
        padding: 28px 24px 0;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 16px 16px 0;
        width: calc(100% - 32px);
    }
}