.lead__subtitle {
    width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 54px;
}

@media screen and (max-width: 751px) {
    .lead__subtitle {
        width: calc(100% - 128px);
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 680px) {
    .lead__subtitle {
        width: 288px;
    }
}

@media screen and (max-width: 319px) {
    .lead__subtitle {
        width: calc(100% - 32px);
    }
}
