.lead__caption {
    max-width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (max-width: 973px) {
    .lead__caption {
        max-width: calc(100% - 48px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 720px;
    }
}

@media screen and (max-width: 752px) {
    .lead__caption {
        max-width: calc(100% - 32px);
    }
}
