.lead__caption {
    max-width: 984px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (max-width: 1080px) {
    .lead__caption {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        max-width: 928px;
    }
}

@media screen and (max-width: 972px) {
    .lead__caption {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 720px;
    }
}

@media screen and (max-width: 752px) {
    .lead__caption {
        max-width: calc(100% - 32px);
    }
}
