@import url(./__columns/footer__columns.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);
@import url(./__link-item/footer__link-item.css);

.footer {
    width: calc(100% - 96px);
    margin: 0 auto;
    padding: 92px 0 24px;
}

@media screen and (max-width: 1279px) {
    .footer {
        padding-top: 87px;
        max-width: 1184px;
    }
}

@media screen and (max-width: 1183px) {
    .footer {
        max-width: 100%;
    }
}


@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-top: 88px;
    }
}

@media screen and (max-width: 972px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
    }
}


@media screen and (max-width: 752px) {
    .footer {
        max-width: calc(100% - 32px);
    }
}
